@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, eu sou o Guilherme </h1>
    <p>um designer que direcionou seu interesse e estudos para desenvolvimento e programação, 
        pra mim chegou o momento de aplicar o que venho aprendendo como estagiário (não remunerado) e estudante,
        e aprimorar esses conhecimentos como profissional, por isso tenho grande interesse em participar do 
        processo seletivo de vocês para a vaga de desenvolvedor JR.
        me coloco a disposição para marcar uma conversa.
Desde já agradeço a atenção.
</p>
</div>
